ProjetoIntegradorCliente/xml-resources/web-service-references/BancarioService/wsdl/localhost_3000/BancarioService.wsdl_1.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:tns="http://contrato.edu.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://contrato.edu.br/">
<types>
<xsd:schema>
<xsd:import namespace="http://contrato.edu.br/" schemaLocation="http://localhost:3000/BancarioService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="criarConta">
<part name="parameters" element="tns:criarConta"></part>
</message>
<message name="criarContaResponse">
<part name="parameters" element="tns:criarContaResponse"></part>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<message name="consultarSaldo">
<part name="parameters" element="tns:consultarSaldo"></part>
</message>
<message name="consultarSaldoResponse">
<part name="parameters" element="tns:consultarSaldoResponse"></part>
</message>
<message name="efetuarDeposito">
<part name="parameters" element="tns:efetuarDeposito"></part>
</message>
<message name="efetuarDepositoResponse">
<part name="parameters" element="tns:efetuarDepositoResponse"></part>
</message>
<message name="efetuarSaque">
<part name="parameters" element="tns:efetuarSaque"></part>
</message>
<message name="efetuarSaqueResponse">
<part name="parameters" element="tns:efetuarSaqueResponse"></part>
</message>
<message name="fecharConta">
<part name="parameters" element="tns:fecharConta"></part>
</message>
<message name="fecharContaResponse">
<part name="parameters" element="tns:fecharContaResponse"></part>
</message>
<portType name="BancarioService">
<operation name="criarConta">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://contrato.edu.br/BancarioService/criarContaRequest" message="tns:criarConta"></input>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://contrato.edu.br/BancarioService/criarContaResponse" message="tns:criarContaResponse"></output>
<fault xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns3:Action="http://contrato.edu.br/BancarioService/criarConta/Fault/Exception"></fault>
</operation>
<operation name="consultarSaldo">
<input xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://contrato.edu.br/BancarioService/consultarSaldoRequest" message="tns:consultarSaldo"></input>
<output xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://contrato.edu.br/BancarioService/consultarSaldoResponse" message="tns:consultarSaldoResponse"></output>
<fault xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns6:Action="http://contrato.edu.br/BancarioService/consultarSaldo/Fault/Exception"></fault>
</operation>
<operation name="efetuarDeposito">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://contrato.edu.br/BancarioService/efetuarDepositoRequest" message="tns:efetuarDeposito"></input>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://contrato.edu.br/BancarioService/efetuarDepositoResponse" message="tns:efetuarDepositoResponse"></output>
<fault xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns9:Action="http://contrato.edu.br/BancarioService/efetuarDeposito/Fault/Exception"></fault>
</operation>
<operation name="efetuarSaque">
<input xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://contrato.edu.br/BancarioService/efetuarSaqueRequest" message="tns:efetuarSaque"></input>
<output xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" ns11:Action="http://contrato.edu.br/BancarioService/efetuarSaqueResponse" message="tns:efetuarSaqueResponse"></output>
<fault xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns12:Action="http://contrato.edu.br/BancarioService/efetuarSaque/Fault/Exception"></fault>
</operation>
<operation name="fecharConta">
<input xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata" ns13:Action="http://contrato.edu.br/BancarioService/fecharContaRequest" message="tns:fecharConta"></input>
<output xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata" ns14:Action="http://contrato.edu.br/BancarioService/fecharContaResponse" message="tns:fecharContaResponse"></output>
<fault xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns15:Action="http://contrato.edu.br/BancarioService/fecharConta/Fault/Exception"></fault>
</operation>
</portType>
</definitions>